absl-py==1.0.0
accelerate==0.5.1
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.8
anykeystore==0.2
astunparse==1.6.3
async-timeout==4.0.2
attrdict==2.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
bitarray==2.4.1
boto3==1.21.11
botocore==1.24.11
brotlipy==0.7.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
conda==4.11.0
cryptacular==1.6.2
cycler==0.11.0
Cython==0.29.28
datasets==1.18.3
datasketch==1.5.7
defusedxml==0.7.1
dill==0.3.4
einops==0.4.1
fairseq==0.8.0
faiss-cpu==1.7.2
fast_ctc_decode==0.3.0
fastBPE==0.1.0
fastprogress==1.0.2
filelock==3.4.2
flatbuffers==2.0
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
gast==0.5.3
gdown==4.4.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.1
grpcio==1.43.0
h5py==3.6.0
huggingface-hub==0.11.1
hupper==1.10.3
hydra-core==1.0.7
importlib-metadata==4.10.1
jieba==0.42.1
jmespath==0.10.0
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==13.0.0
mappy==2.24
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
multidict==6.0.2
multiprocess==0.70.12.2
nltk==3.6.7
numpy==1.22.3
oauthlib==3.2.0
omegaconf==2.0.6
onnx==1.11.0
onnxruntime==1.10.0
ont-bonito-cuda111==0.5.1
ont-fast5-api==3.3.0
ont-koi==0.0.7
ont-remora==0.1.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
parasail==1.2
PasteDeploy==3.0.1
pbkdf2==1.3
plaster==1.1.2
plaster-pastedeploy==1.0.1
portalocker==2.4.0
progressbar33==2.4
protobuf==3.19.4
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pyparsing==3.0.6
pyramid==2.0
pyramid-mailer==0.15.1
pysam==0.18.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytorch-transformers==1.2.0
pytz==2021.3
PyYAML==6.0
rank-bm25==0.2.2
regex==2021.11.10
repoze.sendmail==4.4.1
requests-oauthlib==1.3.1
rouge==1.0.1
rsa==4.8
s3transfer==0.5.2
sacrebleu==2.0.0
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.5.4
sentence-transformers==2.2.2
sentencepiece==0.1.96
seqeval==1.2.2
soupsieve==2.3.1
SQLAlchemy==1.4.45
style==1.1.0
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
thop==0.0.31.post2005241907
threadpoolctl==3.0.0
tokenizers==0.10.3
toml==0.10.2
torchaudio==0.11.0
torchvision==0.9.0
tqdm==4.64.0
transaction==3.0.1
transformers==4.12.3
translationstring==1.4
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
update==0.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
velruse==1.1.1
venusian==3.0.0
WebOb==1.8.7
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==3.0.1
wtforms-recaptcha==0.3.2
xxhash==2.0.2
yarl==1.7.2
zipp==3.7.0
zope.deprecation==4.4.0
zope.interface==5.5.2
zope.sqlalchemy==1.6
